.table {
  --item-height: max(2.8em, 7.80vh);
  --max-in-col: 5;

  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: calc((var(--item-height) * var(--max-in-col)) + var(--max-in-col) * 2px + 2px);
  background: rgba(255, 255, 255, 0.24);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid transparent;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    display: block;
    width: 1px;
    background: rgba(255, 255, 255, 0.12);
  }
}

@media screen and (max-width: 639px) {
  .table {
    flex-wrap: nowrap;
    max-height: none;

    &::after {
      display: none;
    }
  }
}