.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--item-height);
  width: 50%;
  color: #fff;
  counter-increment: item;
  padding: 0 8px;
  backdrop-filter: blur(42px);
  background: rgba(0, 0, 0, 0.50);
  gap: 8px;
}

.item::before {
  content: counter(item);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 16px;
  min-width: 16px;
  height: 1.6em;
  width: 1.6em;
  max-height: 48px;
  max-width: 48px;
  border-radius: 50%;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.24);
  aspect-ratio: 1/1;
  color: #fff;
  font-size: 0.9em;
  line-height: 100%;
  font-weight: 700;
  text-align: center;
}

.item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 1px;
  background: rgba(255, 255, 255, 0.12);
}

.item__container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__title {
  min-width: 50%;
  max-width: 50%;
}

.item__title,
.item__scoreLabel,
.item__time {
  font-weight: 600;
  font-size: 1.2em;
  line-height: 120%;
}

.item__score {
  flex: 1;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.item__icon {
  display: block;
  height: 1.2em;
  width: auto;
}

.item:nth-child(1)::before {
  color: #323232;
  background: #FFE57E;
}

.item:nth-child(2)::before {
  color: #323232;
  background: #DDEDFF;
}

.item:nth-child(3)::before {
  color: #323232;
  background: #FAB02F;
}

.item:nth-child(1) {
  background:
    linear-gradient(270.02deg, rgba(253, 236, 66, 0) 46.56%, #F6BA01 100%),
    rgba(255, 255, 255, 0.12);
}

.item:nth-child(2) {
  background:
    linear-gradient(89.89deg, #C0CCDA -3.21%, rgba(181, 192, 205, 0) 51.15%),
    rgba(255, 255, 255, 0.12);
}

.item:nth-child(3) {
  background:
  linear-gradient(270deg, rgba(247, 181, 66, 0) 47.53%, #D96001 102.8%),
  rgba(255, 255, 255, 0.12);
}


@media screen and (max-width: 639px) {
  .item {
    width: 100%;
  }
}