.page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: min(32px, max(16px, 2vw));
  background-image: url('../../public/images/back.png'), url('../../public/images/back_2.png');
  background-position: top left, bottom right;
  background-size: 450px, 275px;
  background-repeat: no-repeat;
  background-color: #000;

  &__title{
      font-size: 32px;
      line-height: 100%;
      margin: 0;
      padding: 0;
      color: #fff;
      margin-bottom: 16px;
      font-weight: 900;
      font-size: 2.4em;
      line-height: 120%;
      font-family: 'Ghawar';
  }
}